<div class="center jumbotron">
    <h1>医れーしょん</h1>
    <a>〜医師と患者を繋ぐwebアプリケーション〜</a>

    <h2>
        健康相談をより身近に
    </h2>

    <%= link_to "健康相談を受付!", '/doctors/sign_up', class: "btn btn-lg btn-primary" %>
</div>