<div class="card col-sm-6 mx-auto mt-5">
    <div class="card-body">
        <p>この度は本アプリの健康相談をご利用頂きありがとうございました。</p>
        <p>今回担当させて頂いた担当医師はいかがでしたか？</p>
        <p>今回の健康相談における担当医師の対応について評価をお願い致します。</p>


        <p><%= rating_for @doctor, 'doctor',disable_after_rate: false, enable_half: true %></p>

        <%= link_to 'マイページに戻る', user_path(current_user),class:"btn btn-lg btn-danger"  %>
    </div>
</div>